### 표본추출/샘플링  
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample() 메서드
- 복원추출 : 
- 비복원추출 :

In [1]:
import pandas as pd

In [2]:
# 임의의 데이터 생성
dataDF = pd.DataFrame({'kor' : [10, 20, 30], 'math' : [11, 22, 33], 'eng' : [111, 222, 333]})
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [9]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)을 설정
for cnt in range(5):
    print(f'[{cnt}번]')
    #print(dataDF.sample(n = 3, axis = 'columns'))
    print(dataDF.sample(n = 3))

[0번]
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111
[1번]
   kor  math  eng
2   30    33  333
0   10    11  111
1   20    22  222
[2번]
   kor  math  eng
0   10    11  111
2   30    33  333
1   20    22  222
[3번]
   kor  math  eng
1   20    22  222
0   10    11  111
2   30    33  333
[4번]
   kor  math  eng
0   10    11  111
2   30    33  333
1   20    22  222

In [8]:
# 1개의 샘플/표본 데이터 추출 => [설정] 복원 - replace 매개변수 True 설정
# 추출 기준 축(axis)을 설정
for cnt in range(5):
    print(f'[{cnt}번]')
    print(dataDF.sample(n = 5, axis = 'columns', replace = True))

[0번]
   eng  eng  kor  eng  eng
0  111  111   10  111  111
1  222  222   20  222  222
2  333  333   30  333  333
[1번]
   kor  math  eng  eng  kor
0   10    11  111  111   10
1   20    22  222  222   20
2   30    33  333  333   30
[2번]
   kor  eng  kor  math  math
0   10  111   10    11    11
1   20  222   20    22    22
2   30  333   30    33    33
[3번]
   eng  math  kor  kor  kor
0  111    11   10   10   10
1  222    22   20   20   20
2  333    33   30   30   30
[4번]
   kor  eng  kor  eng  math
0   10  111   10  111    11
1   20  222   20  222    22
2   30  333   30  333    33