### 그래디언트 부스팅 계열의 앙상블 모델
- 대표 모델 : XGBoost, LightGBM
- 추가 설치 및 사용법,

- 설치 여부 확인

In [1]:
import xgboost, lightgbm

print(f'xgboost : {xgboost.__version__}')
print(f'lightgbm : {lightgbm.__version__}')

xgboost : 1.7.3
lightgbm : 4.1.0

[1] 모듈 로딩 및 데이터 준비 <hr>

In [3]:
import pandas as pd
import numpy as np

In [2]:
## 데이터 파일 변수 선언
feature_name_file = '../DATA/human_activity/features.txt'
label_file = '../DATA/human_activity/activity_labels.txt'

x_train_file = '../DATA/human_activity/train/X_train.txt'
y_train_file = '../DATA/human_activity/train/y_train.txt'

x_test_file = '../DATA/human_activity/test/X_test.txt'
y_test_file = '../DATA/human_activity/test/y_test.txt'

In [6]:
# 데이터 로딩

feature_nameDF = pd.read_csv(feature_name_file,
                             header = None,
                             sep = '\s+',
                             names = ['col_id', 'col_name'])
feature_nameDF.head()

   col_id           col_name
0       1  tBodyAcc-mean()-X
1       2  tBodyAcc-mean()-Y
2       3  tBodyAcc-mean()-Z
3       4   tBodyAcc-std()-X
4       5   tBodyAcc-std()-Y

In [7]:
# 중복 체크
feature_nameDF.col_name.duplicated().sum()

84

In [18]:
drop_index = feature_nameDF[feature_nameDF.col_name.duplicated()].index

In [33]:
feature_nameDF.drop(drop_index, inplace = True)
feature_nameDF.reset_index(drop = True, inplace = True)
feature_nameDF

     col_id                              col_name
0         1                     tBodyAcc-mean()-X
1         2                     tBodyAcc-mean()-Y
2         3                     tBodyAcc-mean()-Z
3         4                      tBodyAcc-std()-X
4         5                      tBodyAcc-std()-Y
..      ...                                   ...
472     557      angle(tBodyGyroMean,gravityMean)
473     558  angle(tBodyGyroJerkMean,gravityMean)
474     559                  angle(X,gravityMean)
475     560                  angle(Y,gravityMean)
476     561                  angle(Z,gravityMean)

[477 rows x 2 columns]

In [42]:
x_trainDF = pd.read_csv(x_train_file, header = None, sep = '\s+')
x_testDF = pd.read_csv(x_test_file, header = None, sep = '\s+')
x_trainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Columns: 561 entries, 0 to 560
dtypes: float64(561)
memory usage: 31.5 MB

In [41]:
x_testDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Columns: 561 entries, 0 to 560
dtypes: float64(561)
memory usage: 12.6 MB

In [43]:
print(f'train set shape => {x_trainDF.shape}\n\ntest set shape => {x_testDF.shape}')

train set shape => (7352, 561)

test set shape => (2947, 561)

In [44]:
x_trainDF.drop(drop_index, axis = 1, inplace = True)
x_trainDF = x_trainDF.T.reset_index(drop = True)
x_trainDF = x_trainDF.T

In [45]:
x_trainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Columns: 477 entries, 0 to 476
dtypes: float64(477)
memory usage: 26.8 MB

In [46]:
x_testDF.drop(drop_index, axis = 1, inplace = True)
x_testDF = x_testDF.T.reset_index(drop = True)
x_testDF = x_testDF.T

In [47]:
x_testDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Columns: 477 entries, 0 to 476
dtypes: float64(477)
memory usage: 10.7 MB

In [48]:
print(f'train set shape => {x_trainDF.shape}\n\ntest set shape => {x_testDF.shape}')

train set shape => (7352, 477)

test set shape => (2947, 477)